<!DOCTYPE html>
<html style="background-image: url('https://i.imgur.com/CYbMsJK.jpg'); 
   background-repeat: no-repeat;
  background-size: auto;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>1shoot</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section hero ">
    <div class="container">
      <center>
      <h1 class="title is-size-1" style="color:white" >
        1shoot
      </h1>
      <p class="subtitle is-white" style="color:white" >
        A simple 2D tag game (atm).
      </p>
       <button class="button is-success is-size-2"><i class="fg fab fa-linux"></i> Download Client</button>
       <br><br><button style="opacity:50%;" onclick="window.alert('Coming soon!')" class="button is-success is-size-2"><i class="fg fab fa-windows"></i> Download Client </button>
       <br><br><button style="opacity:50%;" onclick="window.alert('Coming soon!')" class="button is-success is-size-2"><i class="fg fab fa-apple"></i> Download Client</button>
        <br><br><iframe src="https://discordapp.com/widget?id=670431729353359370&theme=dark" width="410" height="200" allowtransparency="true" frameborder="0"></iframe>
     <br><br><br>
        <p style="color:white;">
          &copy Pranav Ramesh 2020<br>
          <a href="mailto:pranavramesh2022@gmail.com">Report Cheating Here</a>
        </p>
      
      </center>
    </div>
  </section>
    <br>
  </body>
</html>